#Linko{
    text-decoration: none;
    color: inherit;
    width: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.typo1{
    font-style: italic;
    color: rgb(255, 255, 255);
    color: bisque;
    background: rgb(68, 61, 97);
}
.linkinroot{
    transition: .2s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    width: 20px;
    flex-grow: 1;

}
.linkinroot:hover{
 font-size: 18px;
 opacity: .95;
}
